strong {
  font-weight: 900 !important;
}
.img-profile {
  display: flex;
  justify-content: center;  
}

.img-profile img{
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.img-profile__medium {
  display: flex;
  justify-content: center;  
}

.img-profile__medium img{
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  overflow: hidden;s 
}


.img-profile__small {
  margin: auto;
  margin-left: 30px;
}
.img-profile__small img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;  
}

.image-card,
.image-card .card-header {
  border: 0;
}
.image-card__img-profile {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden; 
}
.image-card__container {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}
.image-card__container img {
  width: 100%;  
}
.image-card__nick, .date{
  color: #858585;
}

.full-image__container {
  max-height: unset;
}
.full-image {
  max-height: unset;
  width: 100%;
}